# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Calculator
Name[ar]=حاسبة
Name[ast]=Calculadora
Name[az]=Hesablayıcı
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Αριθμομηχανή
Name[en_GB]=Calculator
Name[eo]=Calculator
Name[es]=Calculadora
Name[eu]=Kalkulagailua
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[gl]=Calculadora
Name[he]=מחשבון
Name[hi]=गणक
Name[hu]=Számológép
Name[ia]=Calculator
Name[it]=Calcolatrice
Name[ka]=კალკულატორი
Name[ko]=계산기
Name[lv]=Kalkulators
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ru]=Калькулятор
Name[sa]=गणकम्
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sv]=Räknare
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=A feature rich calculator
Comment[ar]=حاسبة متكاملة
Comment[ast]=Una calculadora enllena de funciones
Comment[az]=Geniş imkanlı hesablayıcı
Comment[ca]=Una calculadora plena de característiques
Comment[ca@valencia]=Una calculadora plena de característiques
Comment[cs]=Vybavená aplikace pro výpočty
Comment[da]=En funktionsrig lommeregner
Comment[de]=Ein leistungsfähiger Rechner
Comment[el]=Μια αριθμομηχανή πλούσια σε χαρακτηριστικά
Comment[en_GB]=A feature rich calculator
Comment[eo]=Multkapabla kalkulilo
Comment[es]=Una calculadora con muchas funciones
Comment[eu]=Ezaugarritan aberatsa den kalkulagailua bat
Comment[fi]=Monipuolinen laskin
Comment[fr]=Une calculatrice riche en fonctionnalités
Comment[gl]=Unha calculadora con moitas funcionalidades
Comment[he]=מחשבון עתיר תכונות
Comment[hi]=एक सुविधा संपन्न गणक
Comment[hu]=Funkciógazdag számológép
Comment[ia]=Un Calculator ric de  characteristicas
Comment[it]=Una calcolatrice ricca di funzionalità
Comment[ka]=მრავალფუნქციური კალკულატორი
Comment[ko]=다기능 계산기
Comment[lv]=Iespējām bagāts kalkulators
Comment[nl]=Een rekenmachine rijk aan mogelijkheden
Comment[nn]=Funksjonsrik kalkulator
Comment[pl]=Rozbudowany kalkulator
Comment[pt]=Uma calculadora rica em funcionalidades
Comment[pt_BR]=Uma calculadora cheia de recursos
Comment[ru]=Калькулятор с широкими возможностями
Comment[sa]=एकः विशेषतासमृद्धः गणकः
Comment[sk]=Kalkulačka plná funkcií
Comment[sl]=Kalkulator z obilo zmožnosti
Comment[sv]=En funktionsrik räknare
Comment[tr]=Çok Özellikli Hesap Makinesi
Comment[uk]=Калькулятор із широкими можливостями
Comment[x-test]=xxA feature rich calculatorxx
Comment[zh_CN]=一款功能丰富的计算器
Comment[zh_TW]=功能豐富的計算機
Version=1.0
Exec=kalk
Icon=org.kde.kalk
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Keywords=Calculator;Kalk;
Keywords[ar]=حاسبة;كالك;
Keywords[ast]=Calculadora;Calcular;Kalk;
Keywords[az]=Hesablayıcı;Kalk
Keywords[ca]=Calculadora;Kalk;
Keywords[ca@valencia]=Calculadora;Kalk;
Keywords[cs]=Kalkulačka;Kalk;
Keywords[da]=Lommeregner;Kalk;
Keywords[de]=Rechner;
Keywords[el]=Αριθμομηχανή;Kalk;
Keywords[en_GB]=Calculator;Kalk;
Keywords[eo]=Kalkulilo;Kalk;
Keywords[es]=Calculadora;Kalk;
Keywords[eu]=Kalkulagailua;Kalk;
Keywords[fi]=Laskin;Kalk;
Keywords[fr]=Kalk ;calculatrice ;
Keywords[gl]=calculadora;cálculo;calcular;Kalk;
Keywords[he]=מחשבון;קלק;קאלק;חשבון;חישוב;מתמטיקה;חשבונות;
Keywords[hi]=गणक;केल्क;
Keywords[hu]=Számológép;Kalk;
Keywords[ia]=Calculator;Kalk;
Keywords[it]=Calcolatrice;Kalk;
Keywords[ka]=Calculator;Kalk;
Keywords[ko]=Calculator;Kalk;계산기;
Keywords[lv]=Kalkulators;Kalk;Calc;
Keywords[nl]=Rekenmachine;Calculator;Kalk;
Keywords[nn]=Kalkulator;Kalk;
Keywords[pl]=Kalkulator;Kalk;
Keywords[pt]=Calculadora;Kalk;
Keywords[pt_BR]=Calculadora;Kalk;
Keywords[ru]=Калькулятор;Kalk;
Keywords[sa]=गणक;कल्क;
Keywords[sk]=Kalkulačka;Kalk;
Keywords[sl]=Kalkulator;Kalk;
Keywords[sv]=Räknare;Kalk;
Keywords[tr]=hesap makinesi;kalk;
Keywords[uk]=Calculator;Kalk;калькулятор;калк;
Keywords[x-test]=xxCalculatorxx;xxKalkxx;
Keywords[zh_CN]=Calculator;Kalk;计算器;jisuanqi;
Keywords[zh_TW]=Calculator;Kalk;計算機;
X-KDE-FormFactor=desktop;tablet;handset;
