[Desktop Entry]
Name=Calculator
Name[ar]=حاسبة
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[de]=Rechner
Name[en_GB]=Calculator
Name[es]=Calculadora
Name[eu]=Kalkulagailua
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[hi]=गणक
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ko]=계산기
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sv]=Räknare
Name[uk]=Калькулятор
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Comment=A feature rich calculator
Comment[ar]=حاسبة متكاملة
Comment[ca]=Una calculadora plena de característiques
Comment[es]=Una calculadora con muchas funciones
Comment[fr]=Une calculatrice riche en fonctionnalités
Comment[nl]=Een rekenmachine rijk aan mogelijkheden
Comment[pl]=Rozbudowany kalkulator
Comment[pt_BR]=Uma calculadora cheia de recursos
Comment[sl]=Kalkulator z obilo zmožnosti
Comment[sv]=En funktionsrik räknare
Comment[uk]=Калькулятор із широкими можливостями
Comment[x-test]=xxA feature rich calculatorxx
Version=1.0
Exec=kalk
Icon=kalk
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Keywords=Calculator;Kalk;
Keywords[ar]=حاسبة;;كالك
Keywords[ca]=Calculadora;Kalk;
Keywords[es]=Calculadora;Kalk;
Keywords[fr]=Calculatrice ; Kalk ;
Keywords[nl]=Rekenmachine;Calculator;Kalk;
Keywords[pl]=Kalkulator;Kalk;
Keywords[pt_BR]=Calculadora;Kalk;
Keywords[sl]=Kalkulator;Kalk;
Keywords[sv]=Räknare;Kalk;
Keywords[uk]=Calculator;Kalk;калькулятор;калк;
Keywords[x-test]=xxCalculatorxx;xxKalkxx;
X-KDE-FormFactor=desktop;tablet;handset;
