[Desktop Entry]
Name=Calculator
Name[ar]=حاسبة
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[de]=Rechner
Name[en_GB]=Calculator
Name[es]=Calculadora
Name[eu]=Kalkulagailua
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[hi]=गणक
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ko]=계산기
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sv]=Räknare
Name[uk]=Калькулятор
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Comment=A feature rich calculator
Version=1.0
Exec=kalk
Icon=kalk
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Keywords=Calculator;Kalk;
X-KDE-FormFactor=desktop;tablet;handset;
